* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Verdana, sans-serif;
  /* background-color: rgb(248, 248, 248); */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: rgba(254, 238, 241, 255);
}
.header {
  display: flex;
  height: 80px;
  align-items: center;
  background-color: white;
  /* border: 1px solid red; */
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  /* -webkit-box-shadow: 0 8px 6px -6px #eee;
              -moz-box-shadow: 0 8px 6px -6px #eee; */
  box-shadow: 0 8px 6px -6px #eee;

  /* box-shadow: 0px 8px 8px -6px rgba(0, 0, 0, 0.5); */
}
.header div ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.categories {
  margin-left: 50px;
  /* display: block; */
  float: left;
  width: 37%;
  /* border: 1px solid red; */
  /* position: absolute; */
}
.header div img {
  width: 51px;
  margin-left: 60px;
}
.header div ul li a {
  /* margin-right: 20px; */
  padding: 28px 17px 28px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #282c3f;
  /* border-bottom: none; */
  -webkit-transition: left 0.2s ease-out, width 0.2s ease-out;
  transition: left 0.2s ease-out, width 0.2s ease-out;
  font-weight: 600;
  text-transform: uppercase;
}
img {
  display: block;
}
.search-div {
  display: flex;
  width: 35%;
  background-color: #eee;
  height: 40px;
  align-items: center;
  justify-content: flex-start;
  margin-left: 7%;
  border-radius: 3px;
}

#searchpng {
  /* height: 10px; */
  /* vertical-align: middle; */
  width: 15px;
  /* border: 1px solid red; */
  margin: 15px;
  opacity: 0.5;
}
.search-div input {
  width: 70%;
  border: none;
  margin-left: 2%;
  background-color: #eee;
}
.nav-last {
  padding: 0 12px 0 17px;
  position: relative;
  display: flex;
  height: 40px;
  margin-left: 30px;
  /* border: 1px solid red; */
}
.nav-last > div {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  align-items: center;
  padding-top: 5px;
  margin-left: 15px;
}
#svg {
  height: 15px;
  /* border: 1px solid red; */
  margin-left: 0px;
}

.dropdown-menu {
  /* display: none;
        position: absolute;
        top: 200px; */
  display: none;
  position: absolute;

  top: 70px;
  left: 150px;
  z-index: 20;
}

.dropdown-menu ul li a {
  /* margin-right: 20px; */
  padding: 28px 17px 28px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #282c3f;
  /* border-bottom: none; */
  -webkit-transition: left 0.2s ease-out, width 0.2s ease-out;
  transition: left 0.2s ease-out, width 0.2s ease-out;
  font-weight: 600;
  text-transform: uppercase;
}

.dropdown-menu ul {
  list-style: none;
}

#signinbox {
  width: 400px;
  height: 500px;
  margin: auto;
  margin-top: 180px;
  background-color: white;
}
#textbox {
  width: 80%;
  margin: 40px auto;
  margin-bottom: 40px;
  padding-top: 10px !important;
}
.signinheader {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
  font-weight: 600;
  margin-top: 40px;
}
div {
  display: block;
}
#formContainer {
  padding: 10px 10%;
  margin-top: 40px;
}
input {
  margin-bottom: 5px;
  width: 100%;
  height: 35px;
}
.signinbtn {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 40px;
  margin: auto;
  color: white;
  font-weight: 500;
  background-color: #ff3f6c;
  cursor: pointer;
  border: none;
  align-items: center;
  padding: 10px;
  font-size: 15px;
}
.signintxt {
  margin-top: 40px;
}
#alert {
  color: red;
  margin-left: 30px;
}
p span {
  color: #ff3f6c;
  cursor: pointer;
}
#signintext {
  text-align: center;
}
